* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-image: linear-gradient(#bb0606, #000000);
}

.navbar{
    background-color: #ffffff;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px;
    z-index: 99;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}


.nav-icon-container{
    display: flex;
    align-items: center;
}
.nav-icon-container img{
    width: 30px;
    cursor: pointer;
}

.nav-icon-container img:first-child {
    margin-right: 1rem;
}


nav ul li{
    color: #000000;
    margin-right: 1.5rem;
    cursor: pointer;
}

.navbar ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
    color: #ff0000;
}

.menu-button {
    display: none;
}


.menu > li {
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.clear {
    clear: both;
}

.menu li:hover .submenu {
    display: block;
}



.submenu li {
    display: block;
    padding: 8px;
}

.header-bottom-side{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}
.header-bottom-right {
    height: 100%;
    flex-basis: 50%;
    color: #ebebeb;
}
.header-bottom-left img{
    width: 65%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header-bottom-right h2{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}


.header-bottom-right p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}


@media (max-width: 800px) {

    .menu-button {
        display: block;
        width: 30px;
        margin-right: 0.5rem;
        margin-left: 1rem;
    }

    .header-bottom-side {
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    nav {
        position: absolute;
        width: 100%;
        background-color: #ff0101;
        top: 46px;
        display: none;
    }

    .show-menu nav {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
        padding: 0.8rem;
    }

    .header-bottom-left img {
        width: 90%;
        margin-top: 1px;
        margin-bottom: 20px;
    }
}


main{
    background-color: #000000;
}

.black-background{
    background-color: #000000;
}

.page-inner-content{
    max-width: 1280px;
    margin: 0 auto;
}


.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.arrow {
    font-size: 2rem;
    cursor: pointer;
}

.arrow img {
    width: 2rem; 
    margin-right: 25px;
    margin-left: 25px;
    height: auto;
    cursor: pointer;
}
.cols{
    display: grid;
    padding: 4rem 1rem;
}

.cols-3{
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin: 0.5;
}
.cols img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.cols-3 {
    margin: 0 5rem;
}

.cols-4 img{
    max-width: 100%;
}

.cols-4{
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.cols>*{
    cursor: pointer;
    transition: all 0.2s;
}

.cols>*:hover{
    transform: translateY(-5px);
}

.section-title{
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
    color: #fff;
}

.subtitle-underline{
    width: 130px;
    height: 5px;
    background: #ff0000;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.product{
    color: #ffffff;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

}
.product-name{
    font-weight: 600;
    margin-top: 0.4rem;
}

.rate{
    color: #ff0000;
    font-size: 1.3rem;
}

.product-price span{
    font-weight: 600;
}

.sacola {
    cursor: pointer;
}

.sacola img {
    width: 40px; 
    height: auto;
}

.product-name, .product-price, .rate{
    max-height: 1.5rem; 
    overflow: hidden;
    font-size: 1.2rem;
}

.price-and-cart {
    display: flex;
    align-items: center; 
}

.product-price {
    margin-right: 10px; 
}

.sacola {
    cursor: pointer;
}



@media (max-width: 767px) {
    .section-title{
        font-size: 1rem;
    }
    .cols-3{
        grid-template-columns: repeat(1,1fr);
    }
    .cols-4{
        grid-template-columns: repeat(2,1fr);
    }
    .product-name, .product-price, .rate{
        max-height: 1rem; 
        overflow: hidden;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .section-title{
        font-size: 1rem;
    }
    .cols-3{
        grid-template-columns: repeat(1,1fr);
    }
    .cols-4{
        grid-template-columns: repeat(2,1fr);
    }
    .product-name, .product-price, .rate{
        max-height: 1rem; 
        overflow: hidden;
        font-size: 0.8rem;
    }
}



.footer-content{
    display: flex;
    align-items: center;
    color: #8f8f8f;
    padding: 4rem 1rem;
    gap: 2rem;
}

.download-options>*{
    margin: 1rem 0;
}

.download-options>p:first-child{
    font-weight: bold;
    color: #fff;
}

.download-options>div{
    display: flex;
}

.download-options>div img{
    width: 180px;
    margin: 6px;
}

.links-footer{
    text-align: left;
    margin-left: auto;
}

.links-footer h3{
    color: #fff;
    margin-bottom: 0.8rem;
}

.links-footer ul {
    list-style: none;
    padding: 0;
}
.links-footer ul li{
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.copyright{
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}



@media (max-width: 800px) {
    .footer-content{
        display: inline;
        font-size: 0.8rem;
    }

    .footer-content>div{
        padding: 1rem;
    }

    .download-options>div{
        display: inline;
    }
    .download-options>div img{
        width: 120px;
    }
}
